@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$default-text-color: rgba(228, 211, 183, 1);

.main-content  {
    position: relative;
    width: 100vw;
    height: 100vh;
}

@include media-breakpoint-up(lg) {
    .main-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        height: 60vh;
        min-width: 60rem;
        min-height: 40rem;
        max-width: 1500px;
    
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
        border-radius: 2vh;
        background-color: rgba(100, 100, 100, 0.2);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(20px);
    
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
    }
}

@include media-breakpoint-down(lg) {
    .main-container {
        width: 100vw;
        height: 100vh;

        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
        background-color: rgba(100, 100, 100, 0.2);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(20px);

        display: flex;
        justify-content: flex-start;
    }
}

label {
    color: $default-text-color;
    text-align: justify;
}
.label-hu {
    font-weight: bolder;
}
.label-en {
    font-style: italic;
}